/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/

#splash {
  /*fixedで全面に固定*/
position: fixed;
z-index: 999;
width: 100%;
height: 100%;
background:#333;
text-align:center;
color:#fff;
}

/* Loadingバー中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
width: 100%;
transform: translate(-50%, -50%);
color: #fff;
}

#splash_text svg{
  height: 2px;
}

/* ============== webページのためのCSS =================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.flex{
  padding: 0 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex p{
  width: 30%;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.top-wrapper {
  padding: 150px 0 100px 0;
  background-image: url(./fig/back.png);
  background-size: cover;
  color: rgba(6, 8, 8, 0.9);
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
}

.linkedin{
  background-color: #0a66c2;
  margin-right: 10px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 12px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -15px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.search-right {
  float: right;
  padding-top: 80px;
  margin-right: 15px;
}

.lesson-wrapper {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.profiles{
  height: auto;
  padding-bottom:80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  font-family:"Hiragino Kaku Gothic ProN";
}

.profiles ul, ol {
  color: #262527;
  border-top: solid #262527 1px;/*上のボーダー*/
  border-bottom: solid #262527 1px;/*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
}

.profiles ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.profile-pop{
  font-weight: bold;
}

.profiles-span1{
  margin-right: 10px;
  margin-left: 5px;
}

.profiles-span2{
  margin-right: 10px;
  margin-left: 21px;
}

.chronology{
  color: #262527;
  text-align: left;
  vertical-align: middle;
}

.me{
  vertical-align: middle;
  width: 100%; /* モバイルデバイスでは全幅にする */
  height: auto; /* 高さを自動にする */
  /* padding-left: 5%; */
}

.profile{
  text-align: left;
  vertical-align: middle;
  width: 100%; /* モバイルデバイスでは全幅にする */
  height: auto; /* 高さを自動にする */
  padding-right: 5%;
}

.chronology dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chronology dl dt {
  text-align: right;
  width: 8.5em;
  padding: 0.5em 1.0em 0.5em 0.5em;
  position: relative;
}

.chronology dl dd {
  width: calc(100% - 8.5em);
  padding: 0.5em 2.0em 3.0em;
  border-left: 2px solid #ccc;
}

.chronology dl dd h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 5px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
  
  .message-wrapper .btn {
    width: 100%;
  }
}

/* デスクトップとタブレットのビュー */
@media (min-width: 768px) {
  .me{
    width: 330px; /* 元の幅に戻す */
    height: 420px; /* 元の高さに戻す */
  }

  .profile{
    text-align: left;
    vertical-align: middle;
    width: auto; /* モバイルデバイスでは全幅にする */
    height: auto; /* 高さを自動にする */
    padding-right: 5%;
    padding-left:5%;
  }
}